<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--<add name="cnnString" connectionString="Data Source=LAPTOP-C6VK4F6F\SQLEXPRESS;Initial Catalog=eTROLLEY;User ID=sa;Password=sa2019" providerName="System.Data.SqlClient" />-->
    <add name="cnnString" connectionString="Data Source=ETROLLEY\ETROLLEY;Min Pool Size=0;Max Pool Size=10024;Pooling=true;Initial Catalog=eTROLLEY;User ID=sa;Password=Emac2019" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>      
    <add key="IpPCL" value="192.168.1.25"/>
    <add key="PortPLC" value="102" />
    <add key="RackPLC" value="0" />
    <add key="SlotPLC" value="1" />
    <add key="NumDb" value="1" />
    <add key="PtoCOM" value="COM1" />    
  </appSettings>
</configuration>
